<!doctype html>
<html lang="en">
<!-- Author - Edit Article Page -->
<head>
  <%- include('./partials/metadata', { title: (locals.id ? 'Edit' : 'New' ) +' Article' }); %>
</head>

<body class="bg-dark text-secondary">
  <%- include('./partials/header'); %>

  <div class="container my-4">

    <!-- Data about the article - Created, Last Modified, Published -->
    <div class="row mb-4">
      <h1 class="text-warning border-bottom">
        <%= locals.id ? 'Edit' : 'New draft' %> article
      </h1>
      <span class="fw-light">
        This page is used to draft articles for publishing.
      </span>
      <p class="mb-0">
        <% if (locals.created) { %>
          Created <%= new Date(created).toLocaleString() %>
        <% } %>
        <% if (locals.modified) { %>
          | Modified <%= new Date(modified).toLocaleString() %>
        <% } %>
        <% if (locals.published) { %>
          | Published <%= new Date(published).toLocaleString() %>
        <% } %>
      </p>
    </div>

    <div class="row text-warning">
      <!-- Form containing the following input fields and controls -->
      <form method="post" action="/author/<%= locals.id ? 'edit/'+id : 'new' %>">
        <div class="mb-3">

          <!-- Article Title -->
          <label for="title" class="form-label">Header/Article Title</label>
          <input type="text" class="form-control text-bg-dark" id="title" name="title" value="<%= locals.title %>" required>
        </div>
        <div class="mb-3">

          <!-- Article Subtitle -->
          <label for="subtitle" class="form-label">Subheader/Article Subtitle</label>
          <input type="text" class="form-control text-bg-dark" id="subtitle" name="subtitle" value="<%= locals.subtitle %>" required>
        </div>
        <div class="mb-4">

          <!-- Article Text -->
          <label for="body" class="form-label">Body/Article Text</label>
          <textarea class="form-control text-bg-dark" rows="5" id="body" name="body" required><%= locals.body %></textarea>
        </div>

        <!-- Submit changes button -->
        <button type="submit" class="btn btn-success float-end">Submit</button>

        <!-- Back button which points to Author - Home Page -->
        <a class="btn btn-light" href="/author" role="button">Back</a>
      </form>
    </div>

  </div>
</body>

</html>